USE [master]
GO
/****** Object:  Database [TP4]    Script Date: 19/06/2022 20:45:51 ******/
CREATE DATABASE [TP4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TP4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TP4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP4]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 19/06/2022 20:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[DNI] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[EDAD] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICO]    Script Date: 19/06/2022 20:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICO](
	[ID_MEDICO] [int] NOT NULL,
	[NOMBRE_MEDICO] [varchar](50) NOT NULL,
	[PASSWORD_MEDICO] [varchar](50) NOT NULL,
	[TIPO_MEDICO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MEDICO] PRIMARY KEY CLUSTERED 
(
	[ID_MEDICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNOS]    Script Date: 19/06/2022 20:45:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNOS](
	[NROTURNO] [int] IDENTITY(2,1) NOT NULL,
	[IDMEDICO] [int] NOT NULL,
	[HORA] [int] NOT NULL,
	[FECHA_TURNO] [datetime] NOT NULL,
	[DNI_CLIENTE] [int] NOT NULL,
 CONSTRAINT [PK_TURNOS] PRIMARY KEY CLUSTERED 
(
	[NROTURNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTES] ([DNI], [NOMBRE], [EDAD]) VALUES (1, N'Gale', 50)
INSERT [dbo].[CLIENTES] ([DNI], [NOMBRE], [EDAD]) VALUES (2, N'Ingunna', 75)
INSERT [dbo].[CLIENTES] ([DNI], [NOMBRE], [EDAD]) VALUES (10776141, N'Pauly', 89)
GO
INSERT [dbo].[MEDICO] ([ID_MEDICO], [NOMBRE_MEDICO], [PASSWORD_MEDICO], [TIPO_MEDICO]) VALUES (1, N'GONZALO', N'123', N'Clinico')
INSERT [dbo].[MEDICO] ([ID_MEDICO], [NOMBRE_MEDICO], [PASSWORD_MEDICO], [TIPO_MEDICO]) VALUES (2, N'Gomez', N'123', N'Cardiogolo')
INSERT [dbo].[MEDICO] ([ID_MEDICO], [NOMBRE_MEDICO], [PASSWORD_MEDICO], [TIPO_MEDICO]) VALUES (4, N'Lopez', N'123', N'Cirujano')
GO
SET IDENTITY_INSERT [dbo].[TURNOS] ON 

INSERT [dbo].[TURNOS] ([NROTURNO], [IDMEDICO], [HORA], [FECHA_TURNO], [DNI_CLIENTE]) VALUES (2, 1, 8, CAST(N'2022-06-06T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[TURNOS] ([NROTURNO], [IDMEDICO], [HORA], [FECHA_TURNO], [DNI_CLIENTE]) VALUES (3, 1, 10, CAST(N'2022-06-06T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[TURNOS] ([NROTURNO], [IDMEDICO], [HORA], [FECHA_TURNO], [DNI_CLIENTE]) VALUES (4, 1, 11, CAST(N'2022-06-06T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TURNOS] OFF
GO
USE [master]
GO
